.container {
    margin: 0 auto;
    padding: 0;
    background: url("../IMAGES/background.jpg") no-repeat center center fixed; /*Version 2*/
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    overflow: hidden;
}
.header {
    height: 60px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    background: rgba(0,0,0,0.25);
}
.logo {
    float: left;
}
.journey {
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 18px 0 18px 79px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
}
.journey:hover {
    color: #62c693;
}
.login-signup {
    float: right;
    margin: 18px 79px 18px 27px;
    padding: 2px 0;
    border-left: 2px grey solid;
    top: 22px;
    right: 79px;
    border-left: grey;
    font-size: 14px;
    line-height: 14px;
    color: white;
}
.icons {
    float: right;
    margin: 17.34px 0 17.34px 0;
    padding-right: 25px;
    border-right: 1px #828282 solid;
}
.icons a {
    padding-left: 25px;
}
.login {
    color: white;
    text-decoration: none;
}
.login:hover {
    color: #62c693;
}
.signup {
    color: white;
    text-decoration: none;
}
.signup:hover {
    color: #62c693;
}
.clearfix::after {
    content: '';
    display: inline-block;
    clear: both;
}
.main-form {
    position: relative;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    width: 444px;
    background-color: #ffffff;
    color: black;
    padding-top: 30px;
}
.main-form a {
    text-decoration: none;
}
.main-form::before{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #62c693;
}
.bottom-form-menu {
    margin: 0 60px 39px 60px;
    text-align: left;
}
.bottom-form-menu::after {
    content: '';
    position: absolute;
    top: 141px;
    left: 61px;
    width: 324px;
    border-top: 1px solid #cfcfcf;
}
.form::before {
    content: 'or';
    position: absolute;
    z-index: 2;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    color: #828282;
    background-color: white;
}
.signup-form {
    top: 20px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 13px;
    color: #434343;
    margin-right: 100px;
}
.login-form {
    padding-top: 3px;
    display: inline-block;
    font-size: 14px;
    color: #62c693;
    margin-left: 112px;
}
.facebook-google-buttons {
    width: 160px;
    display: inline-block;
    padding: 10px 0;
    background-color: #df4a32;
    border-radius: 3px;
    font-size: 16px;
}
.fb {
    background-color: #305db8;
}
.fasebook-google-link {
    display: inline-block;
    text-align: right;
    padding-left: 18px;
    border-left: 1px rgba(110, 102, 102, 0.3) solid;
    color: white;
}
.form input {
    clear: both;
    width: 324px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-left: 20px;
    border: 1px #f2f2f2 solid;
    color: #5d5d5d;
    line-height: 44px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}
input::-webkit-input-placeholder { color: #cfcfcf; }

.form input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

input[type="checkbox"]{
    border: 1px solid rgba(190, 190, 190, 255);
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    color: white;
    vertical-align: middle;
    background-image: url("../IMAGES/checkbox_empty.png");
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-image: url("../IMAGES/Vector 1.png");
    color: #62c693;
    background-position: 1px 1px;
}
input[type="submit"]:active {
    transition: 0.1s;
    transform: translateY(-2px) scale(.7);
}
input[type="submit"] {
    color: white;
    margin-bottom: 38px;
    cursor: pointer;
    background-color: #62c693;
}
.checkbox-box {
    position: relative;
    display: inline-block;
    width: 330px;
    text-align: left;
}
.agree {
    position: absolute;
    top: 6px;
    left: 30px;
    color: #5d5d5d;
}
.terms-conditions {
    display: inline-block;
    color: #62c693;
}
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../IMAGES/css_sprites2.png") no-repeat;
}
.faceb {
    display: inline-block;
    text-align: left;
    width: 13px;
    background-position: -20px -18px;
    margin-right: 18px;
    margin-left: 16px;
}
.g1 {
    display: inline-block;
    text-align: left;
    width: 35px;
    background-position: -824px -14px;
    margin-right: 18px;
    margin-left: 16px;
}
.calendar {
    background-position: -135px -20px;
}
.convert {
    background-position: -444px -20px;
}
.compas {
    background-position: -381px -20px;
}
.calendar:hover {
    background-position: -74px -20px;
}
.convert:hover {
    background-position: -696px -20px;
}
.compas:hover {
    background-position: -318px -20px;
}










